.Stack {
  composes: container from '../../App.module.css';
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('./img/bg.png') no-repeat 95% 60%;
}

.container {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  &:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  &:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  &:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.title {
  composes: h2 from '../../App.module.css';
  margin-bottom: 60px;
}

.titles {
  composes: h3 from '../../App.module.css';
}

.item {
  composes: p-main from '../../App.module.css';
  display: inline;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .Stack {
    background: url('./img/bg.png') no-repeat 105% 60%;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
  }
  .titles {
    font-size: 22px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 590px) {
  .Stack {
    background: url('./img/bg.png') no-repeat 50% 0%;
    margin-bottom: 100px;
  }
  .titles {
    font-size: 24px;
    line-height: 29px;
  }

  .container {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    &:nth-child(3) {
      grid-area: 2 / 1 / 3 / 2;
    }
    &:nth-child(4) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}
